body{
    display: grid;
    background-color: #0b0d0c;
    color: white;
    place-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    user-select: none;
    
}
.title{
    font-size: 40px;
    text-align: center;
}
#inventory,#cultivation_manual_inventory{
    display: flex;
    flex-wrap: wrap;
}
.item,.manual{   
    width: 60px;
    height: 60px;
    font-size: 15px;
    margin: 5px;
    
    padding: 0;
    border: 4px solid white;
    border-radius: 5px;
    background-color: #0b0d0c;
    color: white;
}
.item img,.manual img{
    object-fit: fill;
    padding: 0;
    width: 60px;
    height: 60px;
}
.item:hover,.manual:hover{
    background-color: white;
    color: #0b0d0c;
    border: 4px solid black;
}
.tabs{
    display: none;
}
.go_to{
    display: none;
    width: 130px;
    height: 60px;
    font-size: 15px;
    margin: 5px;
    padding: 0;
}


.go_back_to{
    width: 130px;
    height: 60px;
    font-size: 15px;
    margin: 5px;
    padding: 0;
}
.going_in_places{
    display: flex;
    flex-wrap: wrap; 
}


.main{
    display: none;
    flex-direction: row;
    height: 100vh;
}

.left,.right,.midle {
    flex: 1; /* Each row takes equal space */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    border: 1px solid white; /* Just for visualization */
  }


.tab{
    display: flex;
    
}
.tab_button{
    border: 4px solid white;
    border-radius: 5px;
    background-color: #0b0d0c;
    color: white;
    width: 130px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 5px;
}

.left p{
    text-align: center;
    font-size: 30;
}

.cultivationImage{
    width: 300px;
    
}



.save_load_button{
    width: 130px;
    height: 60px;
    font-size: 15px;
    margin: 5px;
    padding: 0;
}

button{
    border: 4px solid white;
    border-radius: 5px;
    background-color: #0b0d0c;
    color: white;
    width: 400px;
    height: 100px;
    font-size: 60px;
    margin-bottom: 5px;
}
button:hover{
    background-color: aliceblue;
    color:black;
}

button:active{
    background-color: darkgray;
    border: 4px solid darkgray;

    
}


#go_back_cult_button{
    display: none;
}

#cult_tab_button, #ma_tab_button,#go_back_cult_button{
    width: 700px;
    height: 200px;
    font-size: 80px;
}

#cult_tab,#ma_tab{
    display: none;
}

input{
    background-color: #0b0d0c;
    color: white;
    width: 90px;
}

#cultivation_manual_inventory{
    display: none;
}

#switch_breathing_manual{
    width: 100px;
    height: 60px;
    font-size: 20px;
}

#selected_manual h1{
    font-size: 35px;
}
#selected_manual h2{
    font-size: 30px;
}
#selected_manual h3{
    font-size: 24px;
}

.switch_cult_manual_button{
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-left: 2px;
}

#character_creation{
    display: none;
    border: 4px solid darkgray;
    border-radius: 2px;
}
#options-container{
    border: 4px solid darkgray;
    border-radius: 2px;
}

#console{
    height: 328px;
}

.option:hover{
    background-color: aliceblue;
    color:black;
}

.main_menu{
    place-items: center;
    height: 100vh;
    padding-top: 30vh;
    margin: 0;
    user-select: none;
}
.main_menu_title{
    font-size: 60px;
    margin-bottom: 20px;
}

.main_menu_load_game_button, .main_menu_new_game_button{
    margin: 5px;

}
